%section
  %header.bck.dark
    %h3.on-left.text.thin
      = current_user.name 
      |
      = current_user.email
    %nav.on-right
  %article.padding.scroll
    .margin-bottom
      %h4.text.book.inline
        %span.icon.star.color.theme
        Projects
    .inline.project-list
      - current_user.projects.each do |project|
        .column_4.thumb.bck.light.margin-bottom.margin
          .project-image-block{style: "width:100%; height: 100%;"}
            /{style: "background: url(#{project.image}); background-size: contain"}
            = project.name
            = image_tag project.image, style: "width: 200px; height:185px;"
            
            


  %footer.bck.dark
    %nav.on-left.text.bold{"data-tuktuk" => "menu"}
      %a.active{:href => "#"}
        Shots
        %small (100)
      %a{:href => "#"}
        Projects
        %small (3)
      %a{:href => "#"}
        Likes
        %small (192)
      %a{:href => "#"}
        Tags
        %small (160)
    %nav.on-right

:css
  [data-tuktuk=boxes]{display:-moz-box;}
  [data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-moz-box;}
  [data-tuktuk=buttons]{display:-moz-box;}
  [data-tuktuk=totals]{display:-moz-box;}
  [data-tuktuk="modal"].side > div{display:-moz-box;}
  [data-tuktuk="modal"].side{display:-moz-box;}
  .flexbox { display:-moz-box;}
  [data-tuktuk=boxes] > aside > div{display:-moz-box;}
