.margin-content-3
  .container
    = render "shared/settings_menu_container"
    .settings-content
      .boxed-group
        %h3 Public profile
        .boxed-group-inner.boxed-profile.clearfix
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            .form-left
              %dl.form.edit-profile-avatar
                %dt
                  %label{for: "upload-profile-picture"} Profile picture
                %dd.avatar-upload-container.clearfix
                  = gravatar_for resource, size: 70
                  .avatar-upload
                    = link_to 'Upload new picture', 'http://gravatar.com/emails', target: :_blank, class: 'button upload'
              %dl.form
                %dd= f.input :name, label: 'Name', autofocus: true, required: false
              %dl.form
                %dd= f.input :email, label: 'Email'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
              %dl.form
                %dd= f.input :password, label: 'Password', autocomplete: "off", hint: "(leave blank if you don't want to change it)"
              %dl.form
                %dd= f.input :password_confirmation, label: 'Password confirmation', autocomplete: "off"
              %dl.form
                %dd= f.input :current_password, label: 'Current password', autocomplete: "off", hint: "(we need your current password to confirm your changes)"
              %p.form-footer
                = f.button :submit, "Update profile", class: "button primary"
      .boxed-group.dangerzone
        %h3 Delete account
        .boxed-group-inner
          %br
          %p Once you delete your account, there is no going back. Please be certain.
          %p
            = button_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure you want to do this?" }, method: :delete, class: "button danger"











/ %h1
/   Edit #{resource_name.to_s.humanize}
/ = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
/   = devise_error_messages!
/   %div
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true
/   - if devise_mapping.confirmable? && resource.pending_reconfirmation?
/     %div
/       Currently waiting confirmation for: #{resource.unconfirmed_email}
/   %div
/     = f.label :password
/     %i (leave blank if you don't want to change it)
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   %div
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   %div
/     = f.label :current_password
/     %i (we need your current password to confirm your changes)
/     %br/
/     = f.password_field :current_password, autocomplete: "off"
/   %div= f.submit "Update"
/ %h3 Cancel my account
/ %p
/   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
/ = link_to "Back", :back



