- @report.each do |r|
  .mas.bck.light.margin-bottom
    %h2.i-name= fl(r[:item_name])
    - if r[:start_user_data].present? && r[:end_user_data].present?
      %h1.u-percent
        - perc = percent(r[:start_user_data], r[:end_user_data])
        - if perc > 0
          .prog= "+#{perc.to_s(:percentage, precision: 2)}"
        - elsif perc == 0
          .nopr= "+#{perc.to_s(:percentage, precision: 2)}"
        - else
          .degr= perc.to_s(:percentage, precision: 2)
      .u-data-start
        = fa_icon "chevron-down", text: "#{r[:start_user_data]} #{r[:unit]}", class: "icon"
      .date= r[:start_date].strftime("%B %e, %Y")
      .clearfix
      .u-data-end
        = fa_icon "chevron-up", text: "#{r[:end_user_data]} #{r[:unit]}", class: "icon"
      .date= r[:end_date].strftime("%B %e, %Y") 
      .clearfix
      .d-count Number of data: #{r[:data_count]}
    - else
      .no-data No data
