= link_to 'labels', '#', data:{ tip:"Click to on/off data labels"}, class: "toggle-labels btn custom-button-dark chart-butt"
= link_to 'markers', '#', data:{ tip:"Click to on/off data markers"}, class: "toggle-markers btn custom-button-dark chart-butt"
= link_to 'line', '#', data:{ tip:"Click to view line chart"}, class: "toggle-line btn custom-button-dark chart-butt"
= link_to 'spline', '#', data:{ tip:"Click to view spline chart"}, class: "toggle-spline btn custom-button-dark chart-butt"
= link_to 'column', '#', data:{ tip:"Click to view column chart"}, class: "toggle-column btn custom-button-dark chart-butt"
= link_to 'areaspline', '#', data:{ tip:"Click to view area chart"}, class: "toggle-areaspline btn custom-button-dark chart-butt"
= link_to 'pie', '#', data:{ tip:"Click to view pie chart"}, class: "toggle-pie btn custom-button-dark chart-butt"
= high_stock('project_stock', render_chart(@project)) 
