.boxed-group.track-data
  %h3=  @project.description
  .boxed-group-inner
    %br
    = high_chart("chart", @chart) 
.boxed-group.items-table
  %h3= link_to fl(@project.name), project_path(@project)
  .boxed-group-inner
    %br
    - unless @project.items.empty?
      %div.track-items-table
        - @project.items.each do |item|
          %div.track-cont
            = simple_form_for([@project, item, item.track_items.build]) do |f|
              %dl.form.track
                %dd.dib= f.input :user_data, label: fl(item.name), placeholder: "enter", autofocus: true, required: false
                %dd.dib= unit(item.unit_id)
    - else
      %h1 Create your project #{link_to 'items', project_items_path(@project)} ...