%aside#menu.absolute.bck.light.column_5
  %header.bck.light
    .session.on-left
      %strong
        Project Activities
    %a.on-right.text.big.icon.remove.color.white{"data-box" => "close", :href => "#"}
  %article.bck.dark.scroll
    .margin.activities
      = render 'activities'
      
%aside.column_3.aside-left
  /= link_to '', '#', class: "icon left-sign left-hide hide-button"
  %header.bck.light
    .session.on-left
      %strong
        logged in as
        = link_to current_user.name, edit_user_registration_path, class: "color theme"
    = link_to '', edit_user_registration_path, class: "on-right text big icon cog"
  %article.bck.light.scroll
    .project-image-block
      = render 'project_image'
    .margin-left.margin-right
      %h4.text.bold.color.theme.inline= current_user.name
      %span.margin-left.tag.bck.color.inline.text.bold owner
      .block
        %span.icon.user
        = current_user.email
    %hr/
    .margin
      %strong.text.big.normal.block= fl(@project.name)
      .display.block.text.justify.small= @project.description
    %hr/
    %nav.text.bold.menu-links{data:{tuktuk:"menu"}}
      = render "menu_links"
    %hr/
    .margin
      %strong.text.big.normal.block 
        %span.glyphicon.glyphicon-bell 
        Latest Activity
      .margin
        .latest-activity
          = render 'latest_activity'
      .margin
        %button.btn.custom-button-dark{"data-tip" => "Click to view a all activities", "data-tuktuk-box"=>"menu"} More Activities
        /%button{"data-tip" => "Click to view a side window", "data-tuktuk-modal" => "modal"} Aside  
%section
  %header.bck.dark
    %h3.on-left.text.thin
      = link_to fl(@project.name), project_path(@project)
      %span.tag.bck.theme Project
    %nav.on-right
      = @project.description
  %article.scroll.padding
    - if @project.items.present?  
      .margin-bottom
        %h4.text.book.inline
          %span.icon.list-alt.color.theme
          .chart-toggle{style: "display: inline-block"} Chart data
      .inline.my-stock-chart
        = render 'stock_chart'

        /= line_chart(@project.items[0].track_items.map { |tr| tr.user_data }) 
        /= line_chart User.group_by_day(:created_at).count
        
        /= line_chart User.where("created_at BETWEEN ? AND ?", Time.now.beginning_of_day - 5.day, Time.now.end_of_day - 5.day).group_by_day(:created_at).count
        
        /= line_chart(@project.items.group(:name).map { |i| i.track_items.group_by_day(:created_at).count })
        / {i.track_items.map {|tr| "#{tr.createmd_at} => #{tr.user_data}" } }
        / = line_chart(@project.items.map { |i| { name: i.name, data: i.track_items.group_by_hour(:created_at).count } })
        /= line_chart({20.day.ago => 5, 1368174456 => 4, "2013-05-07 00:00:00 UTC" => 7})
        /= high_chart("charts", @chart)
        /= debug User.where("created_at BETWEEN ? AND ?", Time.now.beginning_of_month, Time.now.end_of_month)
        /= Time.now.beginning_of_day
        /= Time.now.to_date - 5.day
        /= Time.now.methods 
        /= debug @activities
        /= high_stock('project_stock', @stock)
      .margin-bottom
        %h4.text.book.inline
          %span.icon.list.color.theme
          .details-toggle{style: "display: inline-block"} More details
          %form{action: project_path(@project), data: {remote: true}, method: :get, "accept-charset" => "UTF-8", class: "detail-form"}
            = select_tag :type, options_for_select(TrackItem::SCOPE_TYPES),  prompt: false, class: "type form-control"
            = text_field_tag(:count, 1, class: "count")
            = submit_tag 'Go', name: nil, class: "go"
      .inline.info-hide-block{style: "width: 100%;"}
        .more-info
          = render 'more_info'
        
        


        /= @project.items[0].track_items.for_week.first.user_data
        / - @project.items.includes(:track_items).each do |i|
        /   .column_2.thumb.bck.light
        /     = i.track_items.for_week.map(&:user_data)

    - else
      .margin
        %h1 CREATE YOUR PROJECT DATA
  %footer.bck.dark{style: "padding: 0; margin: 0"}
    = link_to '', '#', class: "glyphicon glyphicon-chevron-left on-left bck dark b-hide b-left"
    = link_to '', '#', class: "glyphicon glyphicon-chevron-right on-right bck dark hid b-hide b-right"
    %nav.on-left.text.bold{"data-tuktuk" => "menu", style: "margin-left: 50px"}
      = link_to '#', class: "active" do
        Shots
        %small (100)
      = link_to '#' do
        Projects
        %small (3)
      = link_to '#' do
        Likes
        %small (192)
      = link_to '#' do
        Tags
        %small (160)

%aside.column_3.aside-right{style: "float: right"}
  /= link_to '', '#', class: "icon right-sign right-hide hide-button"
  %header.bck.light
    = link_to '', project_items_path(@project), class: "on-right text big icon cog"
    %h4.inline.text.book Enter your data
  %article.form.scroll
    - unless @project.items.empty?
      %div.track-items-table
        - @project.items.each do |item|
          %div.track-cont
            = simple_form_for([@project, item, item.track_items.build], remote: true) do |f|
              %dl.form.track
                %dd.dib= f.input :user_data, label: fl(item.name), placeholder: "enter", autofocus: true, required: false, input_html: {step: 0.1}
                %dd.dib= unit(item.unit_id)
    - else
      %h1 Create your project #{link_to 'items', project_items_path(@project)} ...
  / %footer
  /   %b Confirm with enter


/ #modal-right.side.column_5{"data-tuktuk" => "modal"}
/   %header
/     %h4.inline.text.book Side window.
/     %button.transparent.small.on-right.inline.icon.remove{"data-modal" => "close"}
/   %article.form
/     %label example of input
/     %input{:type => "text", :value => "text"}/
/     %input.large{:type => "text", :value => "text"}/
/     %label Example of textarea
/     %textarea textarea
/     %textarea.large textarea
/     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos dolorum minus fugiat rem similique velit aperiam est sequi neque nulla tenetur minima autem facilis temporibus quaerat consectetur impedit praesentium.


:css
  body { overflow: hidden; }
  [data-tuktuk=boxes]{display:-moz-box;}
  [data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-moz-box;}
  [data-tuktuk=buttons]{display:-moz-box;}
  [data-tuktuk=totals]{display:-moz-box;}
  [data-tuktuk="modal"].side > div{display:-moz-box;}
  [data-tuktuk="modal"].side{display:-moz-box;}
  .flexbox { display:-moz-box;}
  [data-tuktuk=boxes] > aside > div{display:-moz-box;}

  

