%aside#menu.absolute.bck.light.column_5
  %header.bck.light
    .session.on-left
      %strong
        Project Activities
    %a.on-right.text.big.icon.remove.color.white{"data-box" => "close", :href => "#"}
  %article.bck.dark.scroll
    .margin.activities
      = render 'activities'
      
%aside.column_3.aside-left
  %header.bck.light
    .session.on-left
      %strong
        logged in as
        = link_to current_user.name, edit_user_registration_path, class: "color theme"
    = link_to '', edit_user_registration_path, class: "on-right text big icon cog"
  %article.bck.light.scroll
    .project-image-block
      = render 'project_image'
    .margin-left.margin-right
      %h4.text.bold.color.theme.inline= current_user.name
      %span.margin-left.tag.bck.color.inline.text.bold owner
      .block
        %span.icon.user
        = current_user.email
    %hr/
    .margin
      %strong.text.big.normal.block= fl(@project.name)
      .display.block.text.justify.small= @project.description
    %hr/
    %nav.text.bold.menu-links{data:{tuktuk:"menu"}}
      = render "menu_links"
    %hr/
    .margin
      %strong.text.big.normal.block 
        %span.glyphicon.glyphicon-bell 
        Latest Activity
      .margin
        .latest-activity
          = render 'latest_activity'
      .margin
        %button.btn.custom-button-dark{"data-tip" => "Click to view a all activities", "data-tuktuk-box"=>"menu"} More Activities
%section
  %header.bck.dark
    %h3.on-left.text.thin
      = link_to fl(@project.name), project_path(@project)
      %span.tag.bck.theme Project
    %nav.on-right
      = @project.description
  %article.scroll.padding
    - if @project.items.present?  
      .margin-bottom
        %h4.text.book.inline
          %span.icon.list-alt.color.theme
          .chart-toggle{style: "display: inline-block"} Chart data
      .inline.my-stock-chart
        = render 'stock_chart'
      .margin-bottom
        %h4.text.book.inline
          %span.icon.list.color.theme
          .details-toggle{style: "display: inline-block"} More details
          %form{action: project_path(@project), data: {remote: true}, method: :get, "accept-charset" => "UTF-8", class: "detail-form"}
            = select_tag :type, options_for_select(TrackItem::SCOPE_TYPES),  prompt: false, class: "type form-control"
            = text_field_tag(:count, 1, class: "count")
            = submit_tag 'Go', name: nil, class: "go"
      .inline.info-hide-block{style: "width: 100%;"}
        .more-info
          = render 'more_info'

    - else
      .margin
        %h1 CREATE YOUR PROJECT DATA
  %footer.bck.dark{style: "padding: 0; margin: 0"}
    = link_to '', '#', class: "glyphicon glyphicon-chevron-left on-left bck dark b-hide b-left"
    = link_to '', '#', class: "glyphicon glyphicon-chevron-right on-right bck dark hid b-hide b-right"
    %nav.on-left.text.bold{"data-tuktuk" => "menu", style: "margin-left: 50px"}
      = link_to '#', class: "active" do
        Projects
        %small (9)
      = link_to '#' do
        Items
        %small (9)
      = link_to '#' do
        Track Items
        %small (192)
      = link_to '#' do
        Images
        %small (55)

%aside.column_3.aside-right{style: "float: right"}
  %header.bck.light
    = link_to '', project_items_path(@project), class: "on-right text big icon cog"
    %h4.inline.text.book Enter your data
  %article.form.scroll
    - unless @project.items.empty?
      %div.track-items-table
        - @project.items.each do |item|
          %div.track-cont
            = simple_form_for([@project, item, item.track_items.build], remote: true) do |f|
              %dl.form.track
                %dd.dib= f.input :user_data, label: fl(item.name), placeholder: "enter", autofocus: true, required: false, input_html: {step: 0.1}
                %dd.dib= unit(item.unit_id)
    - else
      %h1{style: "text-align:center; padding-top: 15px;"} #{link_to 'Add project items', project_items_path(@project)}

:css
  body { overflow: hidden; }
  [data-tuktuk=boxes]{display:-moz-box;}
  [data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-moz-box;}
  [data-tuktuk=buttons]{display:-moz-box;}
  [data-tuktuk=totals]{display:-moz-box;}
  [data-tuktuk="modal"].side > div{display:-moz-box;}
  [data-tuktuk="modal"].side{display:-moz-box;}
  .flexbox { display:-moz-box;}
  [data-tuktuk=boxes] > aside > div{display:-moz-box;}

  

