%aside.column_3
  %header.bck.dark
    .session.on-left
      %strong
        logged in as
        = link_to current_user.name, edit_user_registration_path, class: "color theme"
    = link_to '', edit_user_registration_path, class: "on-right text big icon cog"
  %article.bck.light.scroll
    %img.responsive{:src => "http://cdn.tapquo.com/photos/javi_color.jpg"}/
    .margin-left.margin-right
      %h4.text.bold.color.theme.inline= current_user.name
      %span.margin-left.tag.bck.color.inline.text.bold owner
      .block
        %span.icon.user
        = current_user.email
    %hr/
    .margin
      %strong.text.big.normal.block= fl(@project.name)
      .display.block.text.justify.small= @project.description
    %hr/
    %ul.margin-auto{"data-tuktuk" => "totals"}
      %li
        %strong= current_user.projects.count
        %small projects
    %hr/
    %nav.text.bold{"data-tuktuk" => "menu"}
      %a.active{:href => "#"}
        %span.icon.user>
        Shots
        %small (100)
      %a{:href => "#"}
        %span.icon.heart>
        Trending
        %small (3)
      %a{:href => "#"}
        %span.icon.group>
        Following
        %small (192)
      %a{:href => "#"}
        %span.icon.star>
        Debuts
        %small (160)
%section
  %header
    %h3.on-left.text.thin
      = link_to fl(@project.name), project_path(@project)
      %span.tag.bck.theme Project
    %nav.on-right
      = @project.description
  %article.padding.scroll
    .margin-bottom
      %h4.text.book.inline
        %span.icon.list-alt.color.theme
        Chart data
    .inline
      /= line_chart(@project.items[0].track_items.map { |tr| tr.user_data }) 
      /= line_chart User.group_by_day(:created_at).count
      
      /= line_chart User.where("created_at BETWEEN ? AND ?", Time.now.beginning_of_day - 5.day, Time.now.end_of_day - 5.day).group_by_day(:created_at).count
      
      /= line_chart(@project.items.group(:name).map { |i| i.track_items.group_by_day(:created_at).count })
      / {i.track_items.map {|tr| "#{tr.created_at} => #{tr.user_data}" } }
      / = line_chart(@project.items.map { |i| { name: i.name, data: i.track_items.group_by_hour(:created_at).count } })
      /= line_chart({20.day.ago => 5, 1368174456 => 4, "2013-05-07 00:00:00 UTC" => 7})
      /= high_chart("charts", @chart)
      /= debug User.where("created_at BETWEEN ? AND ?", Time.now.beginning_of_month, Time.now.end_of_month)
      /= Time.now.beginning_of_day
      /= Time.now.to_date - 5.day
      /= Time.now.methods 

      = high_stock('my', @stock)
      /%div.stock{style: "width: 600px;"}
    .margin-bottom
      %h4.text.book.inline
        %span.icon.list.color.theme
        More details
    .inline
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
      .column_2.thumb.bck.light thumb
  %footer.bck.light
    %nav.on-left.text.bold{"data-tuktuk" => "menu"}
      = link_to '#', class: "active" do
        Shots
        %small (100)
      = link_to '#' do
        Projects
        %small (3)
      = link_to '#' do
        Likes
        %small (192)
      = link_to '#' do
        Tags
        %small (160)
    %nav.on-right
%aside.column_3
  %header
    %h4.inline.text.book Enter your data
  %article.form.scroll
    - unless @project.items.empty?
      %div.track-items-table
        - @project.items.each do |item|
          %div.track-cont
            = simple_form_for([@project, item, item.track_items.build]) do |f|
              %dl.form.track
                %dd.dib= f.input :user_data, label: fl(item.name), placeholder: "enter", autofocus: true, required: false
                %dd.dib= unit(item.unit_id)
    - else
      %h1 Create your project #{link_to 'items', project_items_path(@project)} ...
  %footer
    %b Confirm with enter

:javascript
  TukTuk.Modal.loading();
  setTimeout( TukTuk.Modal.hide, 1000);

:css
  body { overflow: hidden; }
  [data-tuktuk=boxes]{display:-moz-box;}
  [data-tuktuk=boxes] > aside,[data-tuktuk=boxes] > section{display:-moz-box;}
  [data-tuktuk=buttons]{display:-moz-box;}
  [data-tuktuk=totals]{display:-moz-box;}
  [data-tuktuk="modal"].side > div{display:-moz-box;}
  [data-tuktuk="modal"].side{display:-moz-box;}
  .flexbox { display:-moz-box;}
  [data-tuktuk=boxes] > aside > div{display:-moz-box;}
  